<style>
    #text-generator-container {
        max-width: 640px;
        margin: auto;
        margin-top: 50px;
    }

    #text-generator-container h3 {
        font-size: 18px;
        margin: 8px;
        color: #757575;
        font-weight: bolder;
        margin-left: 0;
    }

    #text-generator-container .predict-data-box {
        margin-top: 32px;
    }

    #text-generator-container .predict-data-box * {
        font-size: 16px;
    }

    #text-generator-container .predict-box-header input {
        border: 1px solid #E0E0E0;
        background: #fff;
        height: 25px;
    }

    #text-generator-container .predict-box-header input[type="number"] {
        width: 66px;
        margin-left: 8px;
    }

    #text-generator-container .predict-box-header input:focus {
        border: 1px solid #2196F3;
    }

    #text-generator-container .predict-box-header button {
        height: 25px;
    }

    #text-generator-container .predict-box-header button:not(.waiting) {
        cursor: pointer;
    }

    #text-generator-container .predict-box-body {
        width: 100%;
        margin-top: 16px;
        font-style: italic;
    }
</style>