 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}
                    {% if link.url == '/' %}
                        {% if page.url contains '/machine-learning' or page.url contains '/projects' or page.url contains '/contact' or page.url contains '/about' %}
                            {% assign current = nil %}
                        {% else %}
                            {% assign current = 'current' %}
                        {% endif %}
                    {% else %}
                        {% if page.url contains link.url %}
                            {% assign current = 'current' %}
                        {% endif %}
                    {% endif %}
                    <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                    </li> 
                 {% endfor %}
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
