<!-- Add jQuery and other scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ \'/assets/js/jquery-1.11.2.min.js\' | prepend: site.baseurl }}"><\/script>')</script>
<script src="{{ '/assets/js/dropcap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/responsive-nav.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>
<script async='async' src='https://cdn.mathjax.org/mathjax/latest/MathJax.js' type='text/javascript'>
    MathJax.Hub.Config({
        messageStyle: "none",
         extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
         jax: ["input/TeX", "output/HTML-CSS"],
         tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
     },

     "HTML-CSS": { availableFonts: ["TeX"] }

    });
</script> 

{% if page.custom_scripts %}
  {% include {{ page.custom_scripts | prepend: 'custom_scripts/' }} %}
{% endif %}
